<h1>Personal</h1>

<form name="persForm" id="pers-form"  ng-submit="moveToSending()">

	<input type="text" ng-model="user.personal.name" name="name" placeholder="Name" required ng-class="{invalid: persForm.name.$touched && persForm.name.$error.required}">
	
	<input type="text" ng-model="user.personal.date" name="date" placeholder="Birth date" required
		onfocus="(this.type='date')" onblur="(this.type='text')"
		ng-class="{invalid: persForm.date.$touched && (persForm.date.$error.required || persForm.date.$error.date)}">
	<div ng-show="persForm.$submitted || persForm.uMail.$touched">
		<span ng-show="persForm.uMail.$error.email">This email is not valid</span>
	</div>

	<textarea name="addInfo" ng-model="user.personal.addInfo" placeholder="Additional information"  maxlength='512'>
	</textarea>
	<label for="addInfo">Digits left: {{512 - persForm.addInfo.$viewValue.length}}</label>

	<input type="submit" class="submit" ng-disabled="persForm.$invalid" value="Continue">
</form>