<h1>Sending</h1>

<ul id="info-list">
	<li ng-click='showUser()'>
		<h4>Login</h4>
		<p>{{user.auth.login}}</p>
	</li>
	<li>
		<h4>Password</h4>
		<p>{{user.auth.password}}</p>
	</li>
	<li>
		<h4>Email</h4>
		<p>{{user.auth.email}}</p>
	</li>
	<li>
		<h4>Name</h4>
		<p>{{user.personal.name}}</p>
	</li>
	<li>
		<h4>Birth Date</h4>
		<p ng-bind="getFullDate()"></p>
	</li>
	<li>
		<h4>Additional information</h4>
		<p>{{user.personal.addInfo}}</p>
	</li>
</ul>

<input type="submit" class="send" ng-disabled="!user.auth.passed || !user.personal.passed" value="Send">
