$nav-color: #5b5b5b;
$nav-color-active: #848484;
$nav-color-passed: #3d993d;

* {
    box-sizing: border-box;
}

.navigation {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;

    li {
        float: left;
        padding: 10px 30px 10px 40px;
        background: $nav-color;
        color: #fff;
        position: relative;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        width: 32%;
        margin: 0 1px;
        cursor: pointer;

        &.passed {
            background: $nav-color-passed;

            &:after {
                border-left-color: $nav-color-passed;
            }
        }

        &.active {
            background: $nav-color-active;

            &:after {
                border-left-color: $nav-color-active;
            }
        }

        &:not(:first-child):before {
            content: '';
            border-left: 16px solid #fff;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            border-left: 16px solid $nav-color;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 20;
        }
    }
}

form {
    width: 50%;
    margin: 0 auto;

    input, textarea, label {
        display: block;
        height: 30px;
        margin: 0 auto 15px auto;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        
        &.invalid {
            border: 1px solid red;
        }

        &[type=submit] {
            color: #fff;
            background-color: #3d993d;

            &:disabled {
                background-color: #848484;
            }
        }
    }
    
    textarea, label {
        margin: 0 auto;
        text-align: center;
    }
}

#info-list {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;

    li {
        margin-bottom: 10px;
    }

    h4, p {
        margin: 0;
    }
}

input.send {
    display: block;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color: #3d993d;

    &:disabled {
        background-color: #848484;
    }
}